/* Add vertical gap between the text box and the "Confess" button */
.confess-button {
  margin-top: 20px; /* Adjust the value to control the gap */
}

.Post {
  text-align: center;
}

.Post-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Post-logo {
      animation: Post-logo-spin infinite 20s linear;
  }
}

.Post-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Post-link {
  color: #61dafb;
}

@keyframes Post-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
